@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.container {
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
}

.mulish {
  font-family: "Mulish", sans-serif;
}
.aktiv {
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
  cursor: pointer;
}

.aktiv:active {
  background-color: #5541d7 !important;
  color: #ffffff !important;
}
.aktiv:hover {
  color: #000;
}
